@import "../variables";

html{
    scroll-behavior: smooth;
}

body{
    background-color: $terciray;
    margin: 0;
    padding: 0;
}



@keyframes load1{
    0%{
        transform: translateY(-50%);
        opacity: 0%;
        }
    50%{
        transform: translateY(0);
        opacity: 100%;
        }
    100%{
        transform: translateY(0);
        opacity: 100%;
         }
}


@keyframes load2{
    0%{
        transform: translateY(-50%);
        opacity: 0%;
        }
    45%{
        transform: translateY(-50%);
        opacity: 0%;
        }
    95%{
        transform: translateY(0);
        opacity: 100%;
        }
    100%{
        transform: translateY(0);
        opacity: 100%;
        }
}

@keyframes load3{
    0%{
        transform: translateY(-50%);
        opacity: 0%;
        }
    75%{
        transform: translateY(-50%);
        opacity: 0%;
        }
    100%{
        transform: translateY(0);
        opacity: 100%;
        }
}

@keyframes load4{
    0%{
        opacity: 0%;
    }
    80%{
        opacity: 0%;
        }
    100%{
        opacity: 100%;
        }
}


.openingAbout{
    padding: 0;
    margin: 0;
    font-family: montserrat;
    position: absolute;
    background-color: $primary;
    height: 100%;
    width: 100%;
    color: $terciray;

    canvas{
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .titlePage{
        width: auto;
        z-index: 2;

        #load1{
            animation: load1 1.5s 1 0s ease-out;
        }
        #load2{
            animation: load2 1.5s 1 0s ease-out;
        }
        #load3{
            animation: load3 2.7s 1 0s ease-out;
        }
        position: relative;
        top: 40%;
        left: 30%;
        width: 60%;
        p{
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
        }
        h1{
            font-size: 4.2rem;
            padding: 0;
            margin: 0;
            width: 100%;
        }   
    }
    .arrow{
        left: 50%;
        top: 85%;
        background: $primary;
        height: 10px;
        width: 0px;
        margin: 0 auto;
        position: absolute;
        transform: rotate(90deg);
    
        animation: load4 4s ease;
        &:before,
        &:after {
          content: "";
          background: $terciray;
          position: absolute;
          height: 4px;
          width: 16px;
        }
      
        &:before {
          right: -16px;
          top: -8px;
          transform:rotate(45deg);
        }
      
        &:after {
          left: 0px;
          top: 2px;
          transform:rotate(-45deg);
        }
        
        
    }

}

.backheader{
    z-index: 1;
    padding: 10px 0px;
    position: absolute;
    background-color: $primary;
    top: 100%;
    height: 8%;
    width: 100%;
    text-align: center;
    color: $terciray;
    display: flex;
    a{
        position: relative;
        text-decoration: none;
        font-family: montserrat;
        color: $terciray;
        font-size: 1.4rem;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin: auto;
        padding: 12px;
        border-radius: 4px;
        &:hover{
            transition: .5s ease;
            background-color: $terciray;
            
            color: $primary;
        }
    }
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .mainBody{
    padding-top: 0%;
}


.mainBody{
    font-family: montserrat;
    position: absolute;
    top: 105%;
    left: 20%;
    width: 60%;
    margin: auto;
    color: $primary;
    // .topPart{
    //     font-size: 1.4rem;
    //     display: flex;
    //     img{
    //         width: 45%;
    //         padding: 1%;
    //         //height: 50%;
    //         //flex: 1;
    //         //width: 100%;
    //         border-radius: 2em;
    //         margin: 0.7em;
    //     } 
    //     .text{   
    //         //flex: 1;
    //         br {
    //             content: "";
    //             margin: 2em;
    //             display: block;
    //             font-size: 60%;
    //           }
    //     }
    // }
    .two_cards{
        display: flex;
        .card{
            text-decoration: none;
            transition: 0.3s;
            background-color: $primary;
            color: $terciray;
            width: 40%;
            margin: auto;
            padding: 1em;
            border-radius: 0.3em;
            height: 140px;
            &:hover{
                background-color: lighten($color:$primary, $amount: 10%);
            }
        }
    }
    .aboutMe{
        margin: auto;
        margin-top: 3em;
        width: 80%;
        h1{
            text-align: center;
        }
        .desImg{
            .description{
                font-size: 1.1rem;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    border-radius: 2em;
                    width: 60%;
                    
                }
                p{
                    //text-align: left;
                }
            }
        }
    }
}


@media screen and (max-width: 2000px){
    .openingAbout{
        .titlePage{        
            p{
                font-size: 1rem;
            }
            h1{
                font-size: 2.5rem;
            }
        }
        
    }
}
@media screen and (max-width: 1000px){
    .mainBody{
        width: 80%;
        left: 10%;
        .two_cards{
            width: 80%;
            margin: auto;
            display: grid;
            .card{
                width: 80%;
                margin: auto;
                margin-top: 2em;
            }
        }
        .aboutMe{
            .desImg{
                .description{
                    img{
                        width: 90%;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .openingAbout{
        .titlePage{  
            left: 20%;
            width: 80%;
            h1{
                font-size: 2rem;
            }  
        }
    }
    .mainBody{
        .two_cards{
            width: 100%;
        }
        p{
            font-size: 1rem;
        }
    }
}


