@import "../variables";


.opening {
  font-family: montserrat;
  background-color: $primary;
  height: 100%;
  padding: 3em 5em 3em 3em;
  color: $terciray;
  p {
    margin: 0;
    padding: 0;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
}

.header {
  z-index: 1;
  font-family: montserrat;
  overflow: hidden;
  background-color: $primary;
  padding: 1em 0em;
  a {
    float: left;
    color: $terciray;
    text-align: center;
    padding: 12px;
    margin: 0 0.3em;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    &:hover {
      transition: 0.5s ease;
      background-color: $terciray;
      color: $primary;
    }
  }

  .header__logo {
    float: left;
    color: $terciray;
    text-align: center;
    padding: 12px;
    margin: 0 0.3em;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    padding-left: 1em;
    font-size: 2rem;
    font-weight: bold;
  }

  .header__right {
    position: relative;
    float: right;
    padding: 0em 3em;
    .header__link {
      margin-top: 0.5em;
    }
  }

  .header__link--active {
    background-color: $secondary;
    color: white;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .mainBody {
  margin-top: 97px;
}
@media screen and (max-width: 620px) {
  .header {
    .header__right {
      display: flex;
      width: 100%;
      margin: 0px;
      padding: 0px;
      float: left;
      justify-content: center;
      a {
        flex: 1;
      }
    }
  }
  .header__logo {
    display: none;
  }
}
