.opening {
  font-family: montserrat;
  background-color: #191c23;
  height: 100%;
  padding: 3em 5em 3em 3em;
  color: #e0e0e0;
}

.opening p {
  margin: 0;
  padding: 0;
}

.opening h1 {
  padding: 0;
  margin: 0;
}

.header {
  z-index: 1;
  font-family: montserrat;
  overflow: hidden;
  background-color: #191c23;
  padding: 1em 0em;
}

.header a {
  float: left;
  color: #e0e0e0;
  text-align: center;
  padding: 12px;
  margin: 0 0.3em;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.header a:hover {
  transition: 0.5s ease;
  background-color: #e0e0e0;
  color: #191c23;
}

.header .header__logo {
  float: left;
  color: #e0e0e0;
  text-align: center;
  padding: 12px;
  margin: 0 0.3em;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  padding-left: 1em;
  font-size: 2rem;
  font-weight: bold;
}

.header .header__right {
  position: relative;
  float: right;
  padding: 0em 3em;
}

.header .header__right .header__link {
  margin-top: 0.5em;
}

.header .header__link--active {
  background-color: #ff6525;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .mainBody {
  margin-top: 97px;
}

@media screen and (max-width: 620px) {
  .header .header__right {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    justify-content: center;
  }
  .header .header__right a {
    flex: 1;
  }
  .header__logo {
    display: none;
  }
}
