@import "../variables";


@mixin headerText() {
    
}

body{
    margin: 0;
    background-color: $terciray;
}


.mainBody{
    font-family: montserrat;
    width: 100%;
    margin: auto;
    padding: 0;
    .feed{
        width: 100%;
        .posts{
            width: 70%;
            margin: auto;
            .post{
                .date{
                    margin-top: -8px;
                    margin-bottom: 5px;
                    color: lighten($color: $primary, $amount: 30%);
                }
                border-radius: $border-radius;
                img{
                    display: block;
                    margin: auto;
                    height: auto;
                    max-width: 100%;
                    width: 100%;
                    border-radius: $border-radius;
                    &:hover{
                        transition: .5s ease;
                        opacity: 60%;
                    }
                    margin-bottom: 1em;
                }

                .post__title{
                    .attributes{
                        display: flex;
                        float: right;
                        .attribute{
                            background-color: $secondary;
                            border: medium;
                            border-radius: $border-radius;
                            margin: 0.3em;
                            padding: 0.6em;
                            font-size: 0.9rem;
                            &:hover{
                                background-color: white;
                                border-style: none solid none solid;
                                border-color: $primary;
                            }
                        }
                    }
                }

                .title{
                    text-decoration: none;
                    color: $primary;
                    font-size: 2rem;
                    font-weight: bold;
                    margin-top: 1em;
                    &:hover{
                        transition: .5s ease;
                        text-decoration: underline;
                    }
                }
                padding: 1em;
                margin: 1em;
                background-color: white;
            }
        }
    }
}



@media screen and (max-width: 620px){
    .mainBody{
        left: 0%;
        padding: 0;;
        margin-left: auto;
        width: 100%;
        .feed{
            .posts{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 400px){
    

    
    
}