body {
  margin: 0;
  background-color: #e0e0e0;
}

.mainBody {
  font-family: montserrat;
  width: 100%;
  margin: auto;
  padding: 0;
}

.mainBody .feed {
  width: 100%;
}

.mainBody .feed .posts {
  width: 70%;
  margin: auto;
}

.mainBody .feed .posts .post {
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  background-color: white;
}

.mainBody .feed .posts .post .date {
  margin-top: -8px;
  margin-bottom: 5px;
  color: #59637c;
}

.mainBody .feed .posts .post img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.mainBody .feed .posts .post img:hover {
  transition: .5s ease;
  opacity: 60%;
}

.mainBody .feed .posts .post .post__title .attributes {
  display: flex;
  float: right;
}

.mainBody .feed .posts .post .post__title .attributes .attribute {
  background-color: #ff6525;
  border: medium;
  border-radius: 1em;
  margin: 0.3em;
  padding: 0.6em;
  font-size: 0.9rem;
}

.mainBody .feed .posts .post .post__title .attributes .attribute:hover {
  background-color: white;
  border-style: none solid none solid;
  border-color: #191c23;
}

.mainBody .feed .posts .post .title {
  text-decoration: none;
  color: #191c23;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1em;
}

.mainBody .feed .posts .post .title:hover {
  transition: .5s ease;
  text-decoration: underline;
}

@media screen and (max-width: 620px) {
  .mainBody {
    left: 0%;
    padding: 0;
    margin-left: auto;
    width: 100%;
  }
  .mainBody .feed .posts {
    width: 100%;
  }
}
