body {
  font-family: montserrat;
  font-size: 1em;
  margin: 0;
  background-color: #e0e0e0;
}

.mainBody .post {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 2em;
  padding: 2em;
  border-radius: 1em;
}

.mainBody .post h1 {
  margin: 0;
}

.mainBody .post .canvas {
  width: 50%;
}

.mainBody .post #holder {
  width: 50%;
}

.mainBody .post img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.mainBody .post ol li {
  margin: 3px;
}

code {
  background-color: #e0e0e0;
  padding: 0px 4px;
  margin: 0 1px;
  font-size: 1.1em;
}

pre {
  width: 90%;
  margin: auto;
  background-color: #e0e0e0;
  border-radius: 2em;
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.showCodeBut {
  background-color: #e0e0e0;
  /* Green */
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.5s ease;
  display: block;
  margin: auto;
  padding: 0.3em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.showCodeBut:hover {
  background-color: #adadad;
}

@media screen and (max-width: 620px) {
  .mainBody .post {
    background-color: white;
    width: 60%;
  }
}
