$primary: #272727;
$secondary: #ff6525;
$terciray: rgb(224, 224, 224);

@mixin headerText() {
}

body {
  margin: 0;
  background-color: $terciray;
}

.mainBody {
  font-family: montserrat;
  margin: auto;
  width: 70%;
  .tabNav {
    display: flex;

    padding: 1em 0 0 0;
    width: 100%;
    justify-content: space-evenly;
    .tabBut {
      border: none;
      color: $terciray;
      padding: 0.4em 1.5em;
      text-align: center;
      text-decoration: none;
      font-size: 1.3rem;
      margin: 4px 2px;
      background-color: $primary;
      border-radius: 1rem;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: lighten($color: $primary, $amount: 10%);
      }
    }
  }
  .openTab {
    margin-top: 1em;
    padding: 0;
    width: 100%;
    border-radius: 1em;
    border-color: $primary;
    border-width: medium;
    border-style: solid;
    .skill {
      margin: 2em;
    }
  }
}

.sticky + .mainBody {
  margin-top: 90px;
}

@media screen and (max-width: 680px) {
  .header {
    .header__right {
      display: flex;
      width: 100%;
      margin: 0px;
      padding: 0px;
      float: left;
      justify-content: center;
      a {
        flex: 1;
      }
    }
  }
  .header__logo {
    display: none;
  }
  .mainBody {
    padding: 2em;
    .tabNav {
      align-items: center;
      flex-direction: column;
      .tabBut {
        width: 70%;
      }
    }
    // left: 0%;
    // padding: 0;;
    // margin-left: auto;
    // width: 100%;
  }
}
